body {
    padding: 0;
    margin: 0;
    border: 1px solid red;
    min-height: 100vh;
    font-family: Roboto;
    /* display: flex;
    flex-direction: column; */
}

.header {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-text {
    font-size: 24px;
    color: #F9FAF8;
    border: 1px solid red;
}

.header-links {
    display: flex;
    gap: 20px;
    border: 1px solid red;
}

.footer {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

button {
    width: 90px;
    padding: 5px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 5px;
    cursor: pointer;
}

.info {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
    height: auto;
}

.content-box {
    border: 1px solid red;
}

.box-1 {
    margin: 50px;
    height: auto;
    width: 500px;
}

.section-1 {
    border: 1px solid red;
}

.header, .section-1, .footer {
    background-color: #1F2937;
}

.section-1-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.light-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.section-1-button {
    margin: 5px 0 0 0;
}

.section-2-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    border: 1px solid red;
    text-align: center;
    margin: 24px;
}

.section-2-small-text {
    margin: 3px 0;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.section-2-box-wrapper {
    border: 1px solid red;
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    width: 125px;
}

.section-2-boxes {
    border: 2px solid #3882f6;
    border-radius: 10px;
    width: 125px;
    height: 125px;
    box-sizing: border-box;
}

.section-2-space {
    margin: 72px;
}

.section-3 {
    background-color: #E5E7EB;
}

.section-3-text {
    font-size: 36px;
    font-weight: 10;
    font-style: italic;
    color: #1F2937;
}

.section-3-small-text {
    text-align: end;
    font-weight: bold;
}

.box-3 {
    margin: 50px;
    width: 600px;
}

.box-4 {
    background-color: #3882f6;
    width: 850px;
    height: 125px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
}

.section-4-text-box {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-text-section-4 {
    margin: 0;
    font-weight: bold;
}

.section-4-button-div {
    display: flex;
    align-items: center;
    border: 1px solid red;
}

.btn4 {
    border: 1px solid #F9FAF8;
}
